<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TrackerDatabase" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\FormsDatabase\FormsDatabase\TrackerDatabase.accdb;Persist Security Info=True"/>
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
